[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mdutils = "==1.4.0"
mdformat = "==0.7.14"
mdformat-tables = "==0.4.1"
natsort = "==8.1.0"

[dev-packages]
black = "==22.6.0"
isort = "==5.10.1"

[requires]
python_version = "3.7"
